a:
	path: "a"

"count_digits.cpp":
	path: "count_digits.cpp"

"a 2":
	debugger: "dbg-gdb"
	path: "a"

"a.out":
	debugger: "dbg-gdb"
	path: "a.out"

"a 3":
	debugger: "dbg-gdb"
	path: "a"

"a.out 2":
	debugger: "dbg-gdb"
	path: "a.out"
